<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/karolsPage.css">
</head>
<body>
<main class="container">
    <header class="heading">
        <div th:if="${logo}">
            <img th:src="@{'E:/Ucn/GitHub projects/SpringBootTutorial0/CMS/uploads/' + ${logo}}" alt="Website Logo" style="max-width: 100px; max-height: 100px;" />
        </div>
        <h1 class="nazwa" th:text="${websiteName}">NAME</h1>
        <div th:if="${#authentication.principal != 'anonymousUser'}">
            <h4 th:text="${#authentication.name}">Username</h4>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Wyloguj" />
            </form>
        </div>
        <button th:if="${#authentication.principal == 'anonymousUser'}" onclick="location.href='/login'">Zaloguj się</button>
    </header>
    <div class="content-area">
        <nav class="leftbar">
            <button class="menu-btn" th:if="${isAdmin}" data-target="/settings">Ustawienia Sklepu</button>
            <button class="menu-btn" data-target="/categories">Kategorie</button>
            <button class="menu-btn" data-target="/products">Produkty</button>
        </nav>
        <section class="contentspace" id="contentspace"></section>
    </div>
</main>
<script src="app.js"></script>
</body>
</html>

