<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/mainPage.css">
</head>
<body>
<main class="container">
    <header class="heading">
        <div th:if="${logo}">
            <img th:src="@{'/uploads/' + ${logo}}" alt="Website Logo" style="max-width: 100px; max-height: 100px;" />
        </div>
        <h1 class="nazwa" th:text="${websiteName}">NAME</h1>
        <div th:if="${#authentication.principal != 'anonymousUser'}" class="user-actions">
            <span class="username" th:text="${#authentication.name}">Username</span>
            <div class="logout-wrapper">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Wyloguj" class="logout-btn"/>
                </form>
            </div>
        </div>
        <button th:if="${#authentication.principal == 'anonymousUser'}" onclick="location.href='/login'">Zaloguj się</button>
    </header>
    <div class="content-area">
        <nav class="leftbar">
            <button class="menu-btn" th:if="${isAdmin}" data-target="/settings">Ustawienia Sklepu</button>
            <button class="menu-btn" data-target="/categories">Kategorie</button>
            <button class="menu-btn" data-target="/products">Produkty</button>
    </nav>
        <section class="contentspace" id="contentspace"></section>
    </div>
</main>
<script src="app.js"></script>
</body>
</html>

