<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products Fragment</title>
    <link rel="stylesheet" href="css/contentspace.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div id="fragment">
        <div class="header">
            <h2>Products</h2>
        </div>
        <div id="productList" th:fragment="productList">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Product Category</th>
                    <th th:if="${isAdmin}">Actions</th>
                    <th th:if="${!isAdmin}">Buy</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td data-label="Name" th:text="${product.name}">Product Name</td>
                    <td data-label="Description" th:text="${product.description}">Product Description</td>
                    <td data-label="Category" th:text="${product.categoryName}">Product Category</td>
                    <td th:if="${isAdmin}" data-label="Actions" style="white-space: nowrap;">
                        <button type="button" class="menu-btn" th:attr="data-target=|@{/products/edit/{id}(id=${product.id})}|">Edytuj</button>
                        <form th:action="@{/products/delete/{id}(id=${product.id})}" method="post" style="display: inline;">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                            <button type="submit" class="delete-btn">Usuń</button>
                        </form>
                    </td>
                    <td th:if="${!isAdmin}" data-label="Actions" style="white-space: nowrap;">
                        <form th:action="@{/products/delete/{id}(id=${product.id})}" method="post" style="display: inline;">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                            <button type="submit" class="delete-btn">Kup</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
