<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products Fragment</title>
    <link rel="stylesheet" href="css/contentspace.css">
</head>
<body>
    <div id="fragment">
        <div class="header">
            <h2>Products</h2>
        </div>
        <div id="productList" th:fragment="productList">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Product Category</th>
                    <th th:if="${isAdmin}">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td data-label="Name" th:text="${product.name}">Product Name</td>
                    <td data-label="Description" th:text="${product.description}">Product Description</td>
                    <td data-label="Category" th:text="${product.categoryName}">Product Category</td>
                    <td th:if="${isAdmin}" data-label="Actions">
                        <button th:onclick="'editProduct(' + ${product.id} + ')'">Edit</button>
                        <form th:action="@{/products/delete/{id}(id=${product.id})}" method="post" style="display: inline;">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                            <button type="submit" class="delete-btn">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
