.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
}

.add-button:hover {
    background-color: #45a049;
}

.table {
    width: 100%;
    border-collapse: collapse;
}
.table th, .table td {
    text-align: left;
    padding: 8px;
}
.table th {
    background-color: #f2f2f2;
}
.table tr:nth-child(even) {
    background-color: #f9f9f9;
}
@media (max-width: 600px) {
    .table, .table thead, .table tbody, .table th, .table td, .table tr {
        display: block;
    }
    .table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .table tr { border: 1px solid #ccc; }
    .table td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    .table td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-label);
        font-weight: bold;
    }
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 70%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    z-index: 999;
}

.popup-content {
    color: white;
}

.popup-content label {
    display: block;
    margin-bottom: 10px;
}

.popup-content input,
.popup-content textarea {
    width: calc(100% - 12px);
    padding: 6px;
    margin-bottom: 10px;
}

.popup-content select {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
}

.popup-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.add-product-button {
    margin-bottom: 10px;
}
