body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c4e0b3;
    padding: 0 20px;
}

.logout-wrapper {
    display: flex;
    align-items: center; /* This will vertically center the button */
    justify-content: center; /* This will horizontally center the button */
    padding: 10px 0; /* Adds some padding around the form */
}

.logout-btn {
    background-color: #4CAF50; /* Green, keeping consistent with your login button color */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; /* Adds rounded corners */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Adds a subtle shadow for a 3D effect */
    transition: background-color 0.3s; /* Smooth transition for mouse hover */
}

.content-area {
    display: flex;
    flex-grow: 1;
}

.leftbar {
    flex-basis: 20%;
    background-color: #e2e9fc;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.menu-btn {
    background-color: #2196F3;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    text-align: center;
    display: block;
    font-size: 16px;
    cursor: pointer;
}

.menu-btn-bottom {
    margin-top: auto;
}

.edit-btn:hover {
    background-color: #0056b3;
}

.contentspace {
    flex-grow: 1;
    background-color: #ffffff;
    padding: 20px;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .content-area {
        flex-direction: column;
    }

    .leftbar {
        flex-basis: auto;
        width: 100%;
    }
}

.logout-btn:hover {
    background-color: #45a049;
}

.user-actions {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Horizontally center the contents */
}

.username {
    margin-right: 10px; /* Adds some space between the username and the logout button */
    font-size: 16px; /* Matching font size to button text */
    color: #333; /* Optional: Sets the color of the username text */
}
